{% extends "base.html" %}

{% block head_title %} About | {{block.super}} {% endblock%}


{% block content %}

	<div class="jumbotron">
		<h1>Hello again</h1>
<!-- 		
		 <style>
		    p {
		      font-size: 150%;
		    }
  		</style>
 -->
		<p style="font-size:160%; 'width:100%; "> This website was created for bioinformatics tools using <a  target="_blank" href="https://en.wikipedia.org/wiki/Python_(programming_language)" >Python</a> programming langage and <a  target="_blank" href="https://www.djangoproject.com"> Django </a> (a complete high-level Python web framework) </p>

		<p style="font-size:160%; "> Enjoy ;) </p>


</div>




{% endblock %}